<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body>



    <div class="container">

        <h1>Status</h1>

        <!-- <div class="row">
            <div class="col-sm-2">Logged</div>
            <div class="col-sm-10"> {{ .Status }}</div>
        </div>

        <div class="row">
            <div class="col-sm-2">Userid</div>
            <div class="col-sm-10">{{ .UserID }}</div>
        </div> -->


        <form>
            <div class="form-group">
                <div class="form-group row">
                    <label for="loggedInStatus" class="col-sm-2 col-form-label">Logged In Status</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="loggedInStatus"
                            value=" {{ .Status }}">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="userID" class="col-sm-2 col-form-label">User ID</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" id="userID"
                            value=" {{ .UserID }}">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12">
                        <textarea width="400px">
                 adfasdfasdfase asdfasdf asdf asdfasdfasdfasd

                            adfasdfa asdfasdf asdfasd
                        </textarea>
                    </div>
                </div>

        </form>


        <div class="row">
            <div class="col-sm">Scopes</div>
        </div>
        {{ range .Scopes }}
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">{{ . }}</div>
        </div>
        {{ end }}

        <div class="row">
            <div class="col-sm">================</div>
        </div>

        <div class="row">
            <div class="col-sm">
                <pre><code>{{ .Claims }}</code></pre>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">================</div>
        </div>

        <div><a href="/admin">Protected page</a></div>
        <div><a href="/logout">Logout</a></div>
        <div><a href="/status">Status</a>
        </div>

</body>

</html>